.root {
    -fx-background-color: GREY;
    -fx-border-radius: 20px;
}


.label {


    -fx-font-family: Monospaced;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-label-padding: 10;
    -fx-background-color: #FA8072;
    -fx-text-alignment: center;
}